@media (min-width: 1200px) {
    .container{
        width: 95%;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
}

div#main {
    display: flex;
    flex-flow: column;
    height: 99%;
}

div#main div.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

div#main div.content {
    flex: 1 1 auto;
    overflow: auto;
}

div#main div.footer {
    flex: 0 1 40px;
}

div#main div.footer .backgrid-paginator ul {
    margin: 3px 0 0 0;
    padding: 0;
}

div#main table.backgrid {
    width: 99.5% !important;
}

div.floatThead-container table.backgrid,
div.floatThead-container + table.backgrid {
    width: 99.5% !important;
}

td.html-center-cell {
    text-align: center;
}

.backgrid thead th,
.backgrid td.lastPostDate,
.backgrid td.domainExpirationDate {
    text-align: center;
}


.backgrid thead th button {
   display: inline;
}

.backgrid th.sortable  button {
    color: #118;
}

.status-img {
    width: 20px;
    height: 20px;
}

.focus-hand-cursor {
    cursor: default;
}

.focus-hand-cursor:hover {
    cursor: pointer;
}

div.bbm-wrapper {
    z-index: 2000;
}

div.bbm-modal {
    background: transparent;
    box-shadow: none;
}

/*div.bbm-wrapper div.modal-dialog {*/
    /*margin: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-right: -50%;*/
    /*transform: translate(-50%, -50%);*/
/*}*/

div.bbm-modal--open {
    -webkit-animation-fill-mode: none;
    -webkit-animation-duration: 0s;
    -webkit-animation-name: none;
    -webkit-animation-timing-function: linear;
}

.backgrid .number-cell,
.backgrid .integer-cell,
.backgrid .percent-cell,
.backgrid .number-cell.editor input[type=text],
.backgrid .integer-cell.editor input[type=text],
.backgrid .percent-cell.editor input[type=text]{
    text-align: right;
    padding-right: 30px;
}

.backgrid .date-cell,
.backgrid .time-cell,
.backgrid .datetime-cell,
.backgrid .date-cell.editor input[type=text],
.backgrid .time-cell.editor input[type=text],
.backgrid .datetime-cell.editor input[type=text] {
    text-align: center;
}

input:invalid {
    background-color: #ffdddd;
}

.top-buffer {
    margin-top:150px;
}

.selected-blogs-container{
    border: 1px solid lightgray;
    height: 150px;
    max-height: 150px;
    overflow: auto;
    padding: 5px;
}

.selected-blogs-container li{
    list-style: none;
}

.selected-blogs-container input[type=checkbox]{
    float: left;
    margin-right: 5px;
}

table.backgrid td.mainKeywords {
    white-space: normal;
}

table.backgrid td.subLinks {
    white-space: normal;
}

table.backgrid td.nextPostTime {
    white-space: normal;
}

#actions .btn{
    margin-right: 5px;
}

.locked{
    background-color: #fdff68;
}

.backgrid-paginator .rewind,
.backgrid-paginator .fast-forward {
    display: none;
}

