@media (min-width: 1200px) {
    .container{
        width: 95%;
    }
}

.backgrid .date-cell, .backgrid .time-cell, .backgrid .datetime-cell, .backgrid .number-cell, .backgrid .integer-cell, .backgrid .percent-cell, .backgrid .date-cell.editor input[type=text], .backgrid .time-cell.editor input[type=text], .backgrid .datetime-cell.editor input[type=text], .backgrid .number-cell.editor input[type=text], .backgrid .integer-cell.editor input[type=text], .backgrid .percent-cell.editor input[type=text]{
    text-align: center;
}

input:invalid {
    background-color: #ffdddd;
}

.top-buffer {
    margin-top:150px;
}

.selected-blogs-container{
    border: 1px solid lightgray;
    height: 150px;
    max-height: 150px;
    overflow: auto;
    padding: 5px;
}

.selected-blogs-container li{
    list-style: none;
}

.selected-blogs-container input[type=checkbox]{
    float: left;
    margin-right: 5px;
}

table.backgrid td.mainKeywords {
    white-space: normal;
}

table.backgrid td.subLinks {
    white-space: normal;
}

table.backgrid td.nextPostTime {
    white-space: normal;
}

#actions .btn{
    margin-right: 5px;
}