@media (min-width: 1200px) {
    .container{
        width: 95%;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
}

div#main {
    height: 99%;
}

div#main table.backgrid {
    width: 99.5% !important;
}

div.floatThead-container table.backgrid,
div.floatThead-container + table.backgrid {
    width: 99.5% !important;
}

td.html-center-cell {
    text-align: center;
}

.backgrid th.googleCheck,
.backgrid th.ping,
.backgrid th.availability,
.backgrid th.enabled,
.backgrid th.postPeriodSeconds,
.backgrid th.id,
.backgrid th.lastPostDate,
.backgrid td.lastPostDate,
.backgrid th.domainExpirationDate,
.backgrid td.domainExpirationDate,
.backgrid th.maj_cf,
.backgrid th.maj_tf,
.backgrid th.moz_pa,
.backgrid th.moz_da,
.backgrid th.moz_rank,
.backgrid th.alexa_rank,

.backgrid th.locationid,
.backgrid th.location,
.backgrid th.ip,
.backgrid th.status,
.backgrid th.min_rtt_ms,
.backgrid th.avg_rtt_ms,
.backgrid th.max_rtt_ms,
.backgrid th.packet_loss_percent,

.backgrid th.responce_code,
.backgrid th.responce_str,
.backgrid th.size_responce,
.backgrid th.start_connect_ms,
.backgrid th.dns_resolve_ms,
.backgrid th.first_byte_recive_ms,
.backgrid th.last_byte_recive_ms,
.backgrid th.response_time_ms

{
    text-align: center;
}


.backgrid th.googleCheck button,
.backgrid th.enabled button,
.backgrid th.ping button,
.backgrid th.availability button,
.backgrid th.postPeriodSeconds button,
.backgrid th.lastPostDate button,
.backgrid th.domainExpirationDate button,
.backgrid th.maj_cf button,
.backgrid th.maj_tf button,
.backgrid th.moz_pa button,
.backgrid th.moz_da button,
.backgrid th.moz_rank button,
.backgrid th.alexa_rank button,

.backgrid th.locationid button,
.backgrid th.location button,
.backgrid th.ip button,
.backgrid th.status button,
.backgrid th.min_rtt_ms button,
.backgrid th.avg_rtt_ms button,
.backgrid th.max_rtt_ms button,
.backgrid th.packet_loss_percent button,

.backgrid th.responce_code button,
.backgrid th.responce_str button,
.backgrid th.size_responce button,
.backgrid th.start_connect_ms button,
.backgrid th.dns_resolve_ms button,
.backgrid th.first_byte_recive_ms button,
.backgrid th.last_byte_recive_ms button,
.backgrid th.response_time_ms button

{
   display: inline;
}

.status-img {
    width: 20px;
    height: 20px;
}

.focus-hand-cursor {
    cursor: default;
}

.focus-hand-cursor:hover {
    cursor: pointer;
}

div.bbm-wrapper {
    z-index: 2000;
}

div.bbm-modal {
    background: transparent;
    box-shadow: none;
}

div.bbm-wrapper div.modal-dialog {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.bbm-modal--open {
    -webkit-animation-fill-mode: none;
    -webkit-animation-duration: 0s;
    -webkit-animation-name: none;
    -webkit-animation-timing-function: linear;
}

.backgrid .number-cell,
.backgrid .integer-cell,
.backgrid .percent-cell,
.backgrid .number-cell.editor input[type=text],
.backgrid .integer-cell.editor input[type=text],
.backgrid .percent-cell.editor input[type=text]{
    text-align: right;
    padding-right: 30px;
}

.backgrid .date-cell,
.backgrid .time-cell,
.backgrid .datetime-cell,
.backgrid .date-cell.editor input[type=text],
.backgrid .time-cell.editor input[type=text],
.backgrid .datetime-cell.editor input[type=text] {
    text-align: center;
}

input:invalid {
    background-color: #ffdddd;
}

.top-buffer {
    margin-top:150px;
}

.selected-blogs-container{
    border: 1px solid lightgray;
    height: 150px;
    max-height: 150px;
    overflow: auto;
    padding: 5px;
}

.selected-blogs-container li{
    list-style: none;
}

.selected-blogs-container input[type=checkbox]{
    float: left;
    margin-right: 5px;
}

table.backgrid td.mainKeywords {
    white-space: normal;
}

table.backgrid td.subLinks {
    white-space: normal;
}

table.backgrid td.nextPostTime {
    white-space: normal;
}

#actions .btn{
    margin-right: 5px;
}

.locked{
    background-color: #fdff68;
}